.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding-left: 300px;
    padding-right: 300px;
    background-color: white;
    border: 10px ;
    border-radius: 5px;
    margin-bottom: 53px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 888px) {
    .chat-messages {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.chat-message {
    margin: 15px 0;
    padding: 10px;
    border-radius: 15px;
    max-width: 60%;
    display: inline-block;
}

.chat-message.user {
    background-color: #000000;
    color: white;
    text-align: right;
    margin-left: auto;
    border-radius: 15px 15px 0 15px;
}

.chat-message.bot {
    background-color: #e1e1e1;
    border-radius: 15px 15px 15px 0;
}

.chat-input {
    display: flex;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 90%;
    left: 5%;
    z-index: 100;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
}

.chat-input button:hover {
    background-color: #000000;
}

.chat-message.thinking {
    background-color: #e1e1e1;
    color: gray;
    text-align: left;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px 15px 15px 0;
    max-width: 60%;
    display: inline-block;
    font-style: italic;
}
