.sidenav {
    width: 200px;
    height: 100%;
    background-color: #f8f8f8;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

.sidenav.closed {
    transform: translateX(-100%);
}

.sidenav.open {
    transform: translateX(0);
}

.sidenav h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidenav ul li:hover {
    background-color: #f1f1f1;
}

.toggle-btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    top: 15px;
    width: 100px;
    left: 20%;
}

.toggle-btn.outside {
    position: fixed;
    top: 25px;
    left: 15px;
    width: 55px;
}


.toggle-btn.inside {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 55px;
}

.toggle-btn:hover {
    background-color: #06131e;
}

.history-text{
    position: relative;
    left: 100px;
}

/* Adjust the chat content when SideNav is open */
.chat-content.sidenav-open {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
}
